# Gradle
.gradle/
build/
local.properties
**/build/

# Android Studio / IntelliJ
.idea/
*.iml
captures/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Fastlane / tooling
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

